<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nl_loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nl_loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <nl_loader.Properties.Settings>
            <setting name="UserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsActivated" serializeAs="String">
                <value>False</value>
            </setting>
        </nl_loader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <nl_loader.Properties.Settings>
            <setting name="SupabaseUrl" serializeAs="String">
                <value>https://wgxkflgdjzqyengrmlsb.supabase.co/</value>
            </setting>
            <setting name="SupabaseKey" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndneGtmbGdkanpxeWVuZ3JtbHNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4OTA2MTUsImV4cCI6MjA4MzQ2NjYxNX0.fM7_sOJCZ9SEZt73sABCE4NsXjnfVcs2h3usaFoNpf0</value>
            </setting>
        </nl_loader.Properties.Settings>
    </applicationSettings>

</configuration>
